.container {
  padding: 20px;
  margin: 0 4em;
  display: flex;
  margin-top: 100px;
  // overflow: hidden;
}

.container_left {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_right {
  flex: 1;
  padding: 50px;
}

.images_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 70%;
}

.main_image {
  width: 70%;
  height: 500px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.images_details_container {
  display: flex;
  width: 50%;
  height: 200px;
  padding: 20px;
  margin-top: 30px;
  justify-content: space-between;
}

.image_details {
  width: 100px;
  height: 100px;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  letter-spacing: var(--l-spacing);
}

.title {
  line-height: 1.5em;
}

.desc_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.8em;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--black);
}

//quantity

.quantity_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quantity_info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.quantity {
  width: 30%;
  cursor: pointer;
  width: 50px;
  padding: 5px;
  min-height: 40px;
  border-radius: 8px;
  border-color: 1 px var(--border-color);
  background-color: var(--white);
  font-family: inherit;
}

.quantity input {
  font-family: inherit;
}

.button {
  width: 50%;
  padding: 15px 25px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--rose);
  letter-spacing: var(--l-spacing);
  font-weight: bold;
  color: var(--rose);
  font-size: 0.75em;
  transition: all 0.3s ease-out;
  margin: 30px 0;
}

.button:hover {
  background-color: var(--rose);
  color: var(--white);
}

//social media

.icons_group {
  display: flex;
  gap: 10px;
  width: 50%;
}

.icon {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  color: var(--gold);
}

.icon svg {
  font-size: 1.5em;
}

.load_container {
  height: 100vh;
}

.notes {
  text-transform: capitalize;
}

.subtitle_inner {
  display: flex;
  gap: 10px;
}

//modal window
.modal {
  display: none; /* Hidden by default */
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  display: none;
}

/* Modal Content (Image) */
.modal_content {
  margin: auto;
  display: block;
  width: 40vw;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
// .caption {
//   margin: auto;
//   display: block;
//   width: 80%;
//   max-width: 700px;
//   text-align: center;
//   color: #ccc;
//   padding: 10px 0;
//   height: 150px;
// }

/* Add Animation - Zoom in the Modal */
.modal_content,
.caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close_modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close_modal:hover,
.close_modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
