.container {
  width: 100%;
}

.content_wrapper {
  padding: 100px;
  margin: 20px 100px;
}

.icon_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon_container img {
  width: 80px;
  height: 80px;
}

.image_container {
  margin-top: -200px;
}

.content_wrapper h6,
h1 {
  text-transform: uppercase;
  letter-spacing: var(--l-spacing);
  margin-bottom: 30px;
}

.content_wrapper h1 {
  font-size: 2em;
  margin: 50px 0;
}

.content_wrapper h6 {
  color: var(--rose);
}
