*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: var(--base-font);
  font-size: 1em;
  background-color: #fcf9f7;
  color: var(--text-color);
  line-height: 1.6em;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  text-transform: capitalize;
  border: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s ease-out;
}

a:hover {
  color: var(--gold);
}

input:focus {
  outline: none;
}
