:root {
  --base-font: 'Urbanist', sans-serif;
  --title-font: 'Noto Serif Display', serif;
  --l-spacing: 3px;
  --l-spacing-lg: 8px;
}
h1,
h2 {
  font-family: var(--title-font);
  color: var(--title-color);
}
