.arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gold);
  cursor: pointer;
  opacity: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
  border-radius: 1px;
}

.arrow_no_visability {
  opacity: 0;
}

.arrow_icon {
  color: var(--gold);
  font-size: 22px;
}

.arrow:hover {
  background: var(--gold);
  transform: rotate(45deg);
}

.arrow:hover .arrow_icon {
  color: var(--white);
  transform: rotate(-45deg);
}
