.popular_container {
  margin: 70px;
  height: 900px;
}

.popular_container_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popular_button {
  padding: 15px 25px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--rose);
  letter-spacing: var(--l-spacing);
  font-weight: bold;
  color: var(--rose);
  margin: 20px 0;
  font-size: 0.75em;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.popular_button:hover {
  background-color: var(--rose);
  color: var(--white);
}

.popular_desc {
  letter-spacing: var(--l-spacing);
}

.popular_title {
  text-transform: uppercase;
  font-family: var(--title-font);
  letter-spacing: 1.5px;
}

//slider
.product_gallery_container {
  display: flex;
  justify-content: center;
  // height: 70vh;
  padding: 30px 0;
  width: max-content;
  gap: 15px;
}
