.footer_container {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--stone);
  position: absolute;
}

.footer_wrapper {
  justify-content: space-between;
  display: flex;
  padding: 50px;
  width: 100%;
}

.footer_links_container {
  font-size: 12px;
  line-height: 16px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: var(--l-spacing);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_social_links {
  margin-top: 30px;
}

.footer_newsletter {
  font-size: 12px;
  line-height: 16px;
  font-weight: 100;
  letter-spacing: var(--l-spacing);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.newsletter_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.input_field {
  width: 100%;
  padding: 14px 10px;
  font-size: 14px;
  border: none;
  outline: none;
}

.newsletter_button {
  padding: 14px 18px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: var(--black);
  letter-spacing: var(--l-spacing);
  color: var(--white);
}
