.container {
  display: flex;
  // position: relative;
  flex-direction: column;
  align-items: center;
  height: 600px;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.popular_product_image {
  width: 300px;
  height: 380px;
  border-radius: 3px;
}

.popular_product_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  width: 80%;
  height: 40px;
  margin-bottom: 15px;
  color: var(--black);
  font-family: (--title-font);
  letter-spacing: var(--l-spacing);
  text-align: center;
}

.price {
  font-size: 0.8em;
}

.button {
  padding: 12px 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--rose);
  letter-spacing: var(--l-spacing);
  color: var(--rose);
  font-size: 0.7em;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background-color: var(--rose);
  color: var(--white);
}
