.li_cart_item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.li_cart_item:hover {
  opacity: 0.8;
}

.image_container {
  width: 150px;
  height: 150px;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: var(--title-color);
}

.options_container {
  width: 30%;
  cursor: pointer;
  width: 60px;
  padding: 8px;
  min-height: 40px;
  border-radius: 10px;
  border-color: 1 px var(--border-color);
  background-color: var(--white);
  font-family: inherit;
}

.delete_button {
  background: transparent;
  width: 20px;
  height: 20px;
  color: var(--rose);
  transition: 0.3s;
}

.delete_button:hover {
  color: var(--gold);
}

.icon {
  font-size: 1.2em;
}
